.menuBox {
  padding: 100px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
}

.menuTitleBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;

}

.menuTitleBox a {
  text-decoration: none;
  padding: 0 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #EBEBD3;
  cursor: pointer;
}

.menuTitleBox a:hover {
  border-left: 4px solid #F4D35E;
  margin-left: -4px;
}

.Section {
  background-color: #F4D35E;
  color: #EBEBD3;
  animation-name: progress;
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
}

.contatosBox {
  padding: 0 30px;
}

.contatosBox img {
  margin-right: 13px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menuBox {
    height: calc(100vh - 200px);
  }

  .contatosBox {
    padding: 0 10px;
  }

  .menuTitleBox a {
    padding: 0 10px;
    font-size: 28px;
  }

}

@keyframes progress {
  0% {
    background: linear-gradient(90deg, rgba(244, 211, 94, 1) 0%, rgba(6, 26, 48, 1) 5%);
  }

  5% {
    background: linear-gradient(90deg, rgba(244, 211, 94, 1) 5%, #061A30 10%);
  }

  10% {
    background: linear-gradient(90deg, #F4D35E 10%, #061A30 15%);

  }

  15% {
    background: linear-gradient(90deg, #F4D35E 15%, #061A30 20%);
  }

  20% {
    background: linear-gradient(90deg, #F4D35E 20%, #061A30 25%);

  }

  25% {
    background: linear-gradient(90deg, #F4D35E 25%, #061A30 30%);
  }

  30% {
    background: linear-gradient(90deg, #F4D35E 30%, #061A30 35%);
  }

  40% {
    background: linear-gradient(90deg, #F4D35E 40%, #061A30 45%);
  }

  50% {
    background: linear-gradient(90deg, #F4D35E 50%, #061A30 55%);
  }

  60% {
    background: linear-gradient(90deg, #F4D35E 60%, #061A30 65%);
  }

  70% {
    background: linear-gradient(90deg, #F4D35E 70%, #061A30 75%);
  }

  80% {
    background: linear-gradient(90deg, #F4D35E 80%, #061A30 85%);
  }

  90% {
    background: linear-gradient(90deg, #F4D35E 90%, #061A30 95%);
  }

  90% {
    background: linear-gradient(90deg, #F4D35E 100%, #061A30 100%);
  }
}
