.experiencesBox{
  width: 100%;
  height: 100%;
  background-color: #F8B47B;
  overflow: hidden;
}
.expContent{
  width: 100%;
  height: 97%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25% 25%;
}
.main{
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.imagem{
  grid-column-start:4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  
  img{
    max-width: 400px;
  }
}
.title{
  margin: 0;
  padding: 2.5rem 3.5rem ;
  padding-bottom: 10px ;
  display: none;
}
@media screen and (max-width: 800px) {
  .imagem{
    display: none;
  }
  .title{
    display: block;
    text-align: center;
  }
}
