.experiencesBox{
  width: 100%;
  height: 100%;
  background-color: #F8B47B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expContent{
  width: 100%;
  height: 70%;
}
.main{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .oi{
    position: absolute;
    width: 100%;

  }
}
.div{
  width: 350px;
  min-width: 350px;
  height: 285px;
  background-color: aqua;
  padding: 8px ;
}   
