.projectsBox{
  width: 100%;
  height: 100vh;
  background-color: #BCDCE0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectsTitle{
  display: none;
}
.projectsContent{
  width: 100%;
  height: 100%;
}
.ProjectsBoxCarousel{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ProjectsContentCarousel{
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
.card{
  width: 350px;
  min-width: 350px;
  height: 400px;
  padding: 8px ;
  border-radius: 14px;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-size: cover !important;
}
.contentTextCard{
  width: 80%;
  padding:0 2rem 0 2rem;
}
.textCard{
  position: absolute;
  bottom: 0px;
  h3{
    color: #061A30;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
    padding-right: 2rem;

  }
  h4{
    color: #061A30;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-right: 2rem;

  }
}
.colorWhite{
  color: #FFFFFF !important;
}
@media screen and (max-width: 800px) {
  .projectsContent{
    height: 100%;
  }
  .ProjectsContentCarousel{
    position: absolute;
    top: 10px;
  }
  .ProjectsTitle{
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-top: 50px;
    font-weight: 600;
    color: #061A30;
  }
  .card{
    width: 100%;
    min-width: 325px;
    max-width: 350px ;
    height: 400px;
  }
}
@media screen and (max-width: 350px) {
  .card{
    width: 100%;
    min-width: 270px;
    max-width: 350px ;
    height: 400px;
  }
}
