.skillsBox{
  width: 100%;
  height: 100%;
  background-color: #FFA08E;
  display: flex;
  overflow: hidden;
}
.skillContent{
  display: flex;
  flex-direction: column;
  padding: 2rem 5%;
  gap: 0.5rem;
  width: 100%;
  height: 100% ;
}
.skill{
  width: 100%;
  transition: 1s;
}
.skillCard{
  margin: 1rem 0;
}
.skillTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: #4B5055;
  font-family: 'Poppins', sans-serif;
  h2{
    font-weight: 600;
    margin: 1rem 0;
    font-size: 20px;
  } 
  p{
    font-size: 20px;
    font-weight: 600; 
  }
}

.imageBox{
  height: 100%;
  width: 100%;
  padding-right: -5%;
}

.imageContent{
  img{
    width: auto;
    max-width: 200px ;
    position:absolute;
    top:calc(0px - 1rem) !important;
    right: calc((0px - 2rem) - 5%);
  }
}

.title{
  display: none;
}

@media screen and (max-width: 1800px) {
  .skillCard{
    margin: 0;
  }
  .skillTitle{
    h2{
      margin: 1px 0;
      font-size: 16px;
    }
    p{
      font-size: 16px;
    }
  }
  .skillContent{
    gap: 1px;

  }
  .imageContent{
    img{
      width: 100%;
      max-width: 150px ;
      position:absolute;
      top:calc(0px - 3rem);
      right: calc((0px - 2rem) - 5%);
    }
  }
}

@media screen and (max-width: 800px) {
  .imageBox{
    display: none;
  }
  .skillTitle{
    font-size: 14px;  
  }
  .skillContent{
    margin-top: 0.5rem;
    padding-right: 2rem;
    flex-direction: column;
    align-items: flex-end;
  }
  .imageContent{
    img{
      width: 150px;
      max-width:400px;
      transform: translateX(2rem);
    }
  }
  .title{
    font-family: 'Poppins', sans-serif;
    display: block;
    text-align: center;
    font-size: 40px;
    color: #061A30;
    margin: 0;
  }
}
@media screen and (max-width: 350px) {
  .skillTitle{
    font-size: 12px;  
  }
}
