.skillsBox{
  width: 100%;
  height: 100%;
  background-color: #FFA08E;
  display: flex;
}
.skillContent{
  display: flex;
  align-items: center;
  padding: 2rem;
  padding-right: 0rem;
  gap: 0.5rem;
  width: 100%;
  height: 85% ;
}
.skill{
  width: 100%;
  transition: 1s;

}
.skillCard{
  margin: 1rem 0;
}
.skillTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: #4B5055;
  font-size: 16px;
  font-family: po;
  font-family: 'Poppins', sans-serif;
  h2{
    font-weight: 600;
    margin: 1rem 0;
  } 
  p{
    font-weight: 600; 
  }
}

//barras
.barBack{
  width: 100%;
  background-color: #C4C4C4;
  height: 8px;
  border-radius: 50px;
}
.barFront{
  background-color: #ffffff;
  height: 8px;
  border-radius: 50px;
}

// image
.imageBox{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.imageContent{
  img{
    width: 150px;
    max-width:400px;
  }
}
.title{
  display: none;
}
@media screen and (max-width: 800px) {
  .imageBox{
    display: none;
  }
  .skillTitle{
    font-size: 14px;  
  }
  .skillContent{
    margin-top: 0.5rem;
    padding-right: 2rem;
    flex-direction: column;
    align-items: flex-end;
  }
  .imageContent{
    img{
      width: 150px;
      max-width:400px;
      transform: translateX(2rem);
    }
  }
  .title{
    font-family: 'Poppins', sans-serif;
    display: block;
    text-align: center;
    font-size: 40px;
    color: #061A30;
    margin: 0;
  }
}
@media screen and (max-width: 350px) {
  .skillTitle{
    font-size: 12px;  
  }
}
