.whoAmIBox{
  width: 100%;
  height: 100%;
  background-color: #FCDD6F;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}
.whoAmIContent{
  display: flex;
  padding: 2rem;
  padding-right: 0rem;
  gap: 0.5rem;
  width: 100%;
  height: 80% ;
  
  main{
    width: 100%;
  }
  .whoAmIDescripition{
       font-family: 'Poppins', sans-serif;
        color: #061A30;
        max-width: 500px;
        margin-bottom: 45px;
    }
}
.titleName{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.subTitle{
  font-weight: 500;
  font-size: 18px;
}
.subTitleFront{
  font-weight: 500;
  font-size: 18px;
  background-color:#EE964E;
  color: #fff;
}
.line{
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.chestOfDrawers{
  color: #083D77;
  font-family: 'Poppins', sans-serif;
  div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    h4{
      font-weight: 600;
      font-size: 18px;
      margin: 30px 0;
    }
    .activeArrow{
      transform: rotateX(180deg);
      animation-name: activeArrow;
      animation-duration: 0.5s;
    }
  }
}
.imgVarible{
  display: flex;
  align-items: flex-end;
}
.effectImage{
  animation-name: activeImg;
  animation-duration: 0.5s;
}
.effectImageControl{
  animation-name: activeImgControl;
  animation-duration: 0.5s;
}
.imageIlustration{
  max-width: 200px ;
}
.desable{
  display: none;
}
.active{
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
  animation-name: activeScrollText;
  animation-duration: 0.5s;
}
@media screen and (max-width: 800px) {
  .whoAmIContent{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    gap: 0;
    align-items: flex-end;
  }
  .whoAmIDescripition{
     margin-bottom: 1.5rem !important;
     h1{
      margin-bottom: 1rem !important;
     }
     h3{
      margin-top: 0px !important;
     }
 }
  .chestOfDrawers{
    div{
      h4{
        font-size: 16px;
        margin: 10px;
      }
    }
    p{
      margin: 0;
      margin-bottom: 1rem;
      font-size: 14px !important;
    }
  }
  .subTitle{
    font-size: 16px;
  }
  .active{
    font-size: 14px;
  }
  .imgVarible{
    display: none;
  }
}

@keyframes activeScrollText {
  from {transform: translate(0px,-50px);}
  to {transform: translate(0px,0px);}
}

@keyframes activeArrow {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-180deg);
  }
}
@keyframes activeImg {
  from {transform: translate(40px,0px);}
  to {transform: translate(0px,0px);}
}
@keyframes activeImgControl {
  from {transform: translate(40px,0px);}
  to {transform: translate(0px,0px);}
}
@media screen and (max-width: 350px) {
  .chestOfDrawers{
    div{
      h4{
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
    p{
      margin: 0;
      margin-bottom: 1rem;
    }
  }
  .subTitle{
    font-size: 15px;
  }
  .active{
    font-size: 12px;
  }
  .titleName{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}
